/* Enter your custom styles here */

canvas {
    
    border: 1px solid #ccc;
    /*
    background: #fff;
    width: 400px;
    height: 160px;
    */
    display: inline;
}


.canvas-container {
	vertical-align: middle;
}

.canvas-container > div {
	width: 100%;
    text-align: center;
}

.main-page > section {
	display: grid;
}